<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.solife.iconsumes"
    android:versionCode="0"
    android:versionName="0.1.d" >

    <uses-sdk android:minSdkVersion="9" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="solife.consume" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" /> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="us.solife.consumes.Loading"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="us.solife.consumes.ConsumeForm" >
        </activity>
        <activity android:name="us.solife.consumes.TabChart" >
        </activity>
        <activity android:name="us.solife.consumes.TabList" >
        </activity>
        <activity android:name="us.solife.consumes.TabUser" >
        </activity>
        <activity android:name="us.solife.consumes.TabAbout" >
        </activity>
        <activity android:name="us.solife.consumes.Main" >
        </activity>
        <activity android:name="us.solife.consumes.Login" >
        </activity>
        <activity android:name="us.solife.consumes.ConsumeItem" >
        </activity>
        <receiver android:name="us.solife.consumes.recevier.TimerService" >
        </receiver>
    </application>

</manifest>